body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  margin: 16px auto;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px 0px 8px 0px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px 24px;
}